fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
langchain
langchain-openai
langchain-community
pinecone
langchain-pinecone
sentence-transformers
faiss-cpu
ragas
langsmith
python-multipart
pypdf
unstructured
markdown
httpx
pytest
pytest-asyncio
structlog
python-jose[cryptography]
passlib[bcrypt]
pandas
tqdm

langchain-google-genai

langchain-huggingface

langchain-ollama
